* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: black; */
}
html,
body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  color: black;
}

@font-face {
  font-family: "mulegh";
  src: url(/fonts/Milonga-Regular.ttf);
}

@font-face {
  font-family: "cinzel";
  src: url(fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'libre';
  src: url(/fonts/LibreBaskerville-Regular.ttf);
}

#main {
  position: relative;
  width: 100%;
}

.loader {
  pointer-events: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* display: none; */
}

.l-text {
  overflow: hidden;
}

.l-text > h1 {
  font-size: 7vw;
  position: relative;
  z-index: 10;
}

.loader-img {
  height: 45vh;
  width: 35vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: gray; */
  border-radius: 10px;
  overflow: hidden;
}

.l-img1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.l-img2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.l-img3 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.loader-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  /* background-color: pink; */
}

#container-first {
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(to bottom, #ffbdbf, #f9e4e5); */
  overflow-x: hidden;
  background-color: aliceblue;
}
#canvas {
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 99;
  position: absolute;
}

.upper-box h1{
  font-family: 'cinzel';
  font-size: 5vw;
  line-height: 1;
  position: relative;
  /* background-color: aqua; */
  width: fit-content;
  padding-right: 10%;
  margin-top: 8vw;
  margin-left: 3vw;
  color: rgb(18, 18, 18);
}
.upper-box h1 .line{
  width: 15vw;
  height: .1vw;
  border-radius: 20%;
  position: absolute;
  top: 72%;
  left: 65%;
  background-color: rgb(18, 18, 18);
}
.win{
  margin-left: 40%;
  margin-top: 5%;
  width: 60%;
}
.win>span{
  font-size: 2vw;
  font-family: 'libre';
  opacity: 0.5;
  color: rgb(18, 18, 18);
}
/* ._canvas_container {
  z-index: 99999999999 !important;
} */

/* nav code  */

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

svg path {
  fill: var(--overlay-bg);
}

.cover {
  /* width: 50%;
  height: 50%; */
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 99999;
}
#toggle-btn {
  /* position: absolute;
  top: 50%;
  right: 50%; */
  width: 70px;
  height: 70px;
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  /* background-color: yellow; */
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.btn-outline {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  z-index: 3;
  border-radius: 50%;
  /* Ensure perfect circle */
}

.btn-outline-1 {
  animation: morph 4s linear infinite;
}

.btn-outline-2 {
  border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.btn-svg {
  position: absolute;
  z-index: 9999999;
}

button {
  background: transparent;
  border: 0 solid var(--button-color, #000);
  cursor: pointer;
}

.button-three {
  --button-color: black;
  overflow: hidden;
}

.button-three .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

/* nav */

nav {
  width: 0%;
  height: 0%;
  border-radius: 100%;
  background-color: #e1f1ff;
  position: fixed;
  top: 130%;
  left: -30%;
  z-index: 9999;
  padding-top: 8%;
}

.upp-box {
  font-size: 5vw;
  width: fit-content;
  margin-left: 20%;
  margin-bottom: 2%;
  /* background-color: red; */
  text-transform: uppercase;
  font-family: "cinzel";
  /* overflow: hidden; */
  cursor: pointer;
}

.upp-box:nth-child(odd) {
  margin-left: 30%;
}

.upp-box h1 {
  transform: translateY(-100%);
  color: rgb(18, 18, 18);
  /* color: aliceblue; */
  /* opacity: .7; */
}

nav .elem {
  margin: 60px 0;
}
nav .elem:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

nav span {
  display: inline-block;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  pointer-events: none;
}

.tilt:hover span:nth-child(1) {
  -webkit-transform: translate(-70%, -50%) rotate(-30deg);
  -ms-transform: translate(-70%, -50%) rotate(-30deg);
  transform: translate(-70%, -50%) rotate(-30deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(2) {
  -webkit-transform: translate(-30%, -60%) rotate(-10deg);
  -ms-transform: translate(-30%, -60%) rotate(-10deg);
  transform: translate(-30%, -60%) rotate(-10deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(3) {
  -webkit-transform: translate(10%, 5%) rotate(10deg);
  -ms-transform: translate(10%, 5%) rotate(10deg);
  transform: translate(10%, 5%) rotate(10deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(4) {
  -webkit-transform: translate(15%, -20%) rotate(-8deg);
  -ms-transform: translate(15%, -20%) rotate(-8deg);
  transform: translate(15%, -20%) rotate(-8deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(5) {
  -webkit-transform: translate(0, 60%) rotate(8deg);
  -ms-transform: translate(0, 60%) rotate(8deg);
  transform: translate(0, 60%) rotate(8deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(6) {
  -webkit-transform: translate(15%, -20%) rotate(8deg);
  -ms-transform: translate(15%, -20%) rotate(8deg);
  transform: translate(15%, -20%) rotate(8deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(7) {
  -webkit-transform: translate(15%, 5%) rotate(-8deg);
  -ms-transform: translate(15%, 5%) rotate(-8deg);
  transform: translate(15%, 5%) rotate(-8deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(8) {
  -webkit-transform: translate(15%, 5%) rotate(-8deg);
  -ms-transform: translate(15%, 5%) rotate(-8deg);
  transform: translate(15%, 5%) rotate(-8deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(9) {
  -webkit-transform: translate(15%, 5%) rotate(-8deg);
  -ms-transform: translate(15%, 5%) rotate(-8deg);
  transform: translate(15%, 5%) rotate(-8deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(10) {
  -webkit-transform: translate(4, 60%) rotate(8deg);
  -ms-transform: translate(4, 60%) rotate(8deg);
  transform: translate(4, 60%) rotate(8deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(11) {
  -webkit-transform: translate(15%, -20%) rotate(-8deg);
  -ms-transform: translate(15%, -20%) rotate(-8deg);
  transform: translate(15%, -20%) rotate(-8deg);
  color: aliceblue;
}
.tilt:hover span:nth-child(12) {
  -webkit-transform: translate(15%, -20%) rotate(8deg);
  -ms-transform: translate(15%, -20%) rotate(8deg);
  transform: translate(15%, -20%) rotate(8deg);
  color: aliceblue;
}

#container-second {
  width: 100%;
  height: 100vh;
  background-color: rgb(18, 18, 18);
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
}
.video-box {
  height: 100%;
  width: 40%;
}
.video-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* ------------------container third-------------------- */


 #container-third {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: aliceblue;
}

.page1 {
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* opacity: 0.1; */
  width: 100%;
  height: 100%;
  /* background-color: red; */
  /* z-index: -9; */
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.page1 > h1 {
  font-size: 8vw;
  margin-left: 25vw;
}

#main-container {
  /* height: calc(100% - 10vw); */
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: centre;
  justify-content: space-between;
  /* opacity: 0; */
}

#leftpart {
  position: relative;
  height: 100%;
  width: 50%;
  /* display: none; */
}

#img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 95%;
  /* background-color: red; */
  /* display: none; */
  border-radius: 30px;
  overflow: hidden;
}

#img-container img {
  /* border-radius: 50px; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#rightpart {
  height: 100%;
  width: 50%;
  padding-left: 2vw;
  padding-top: 2vw;
  /* background-color: rgb(89, 53, 53); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* background-color: aliceblue; */
}

#rightpart .elem1 {
  position: relative;
  height: 8vw;
  width: 60vw;
  overflow: hidden;
  margin-bottom: -1vw;
  /* background-color: aqua; */
  /* margin-top: -.2vw; */
  /* border: 1px solid #ccc; */
  /* background-color: aqua; */
}

#rightpart .elem1 h2:nth-child(1) {
  top: 0;
}

.elem1 > h2 {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 5.6vw;
  font-family: "cinzel";
}

#rightpart button {
  /* background-color: rgb(128, 118, 35) ; */
  color: aliceblue;
  background-color: rgb(18, 18, 18);
  border-radius: 5px;
  padding: 0.8vw 1.5vw;
  font-size: 1.5vw;
  letter-spacing: -1px;
  margin-top: 2vw;
  border: none;
  transition: all ease 0.3s;
  font-family: 'libre';
  cursor: pointer;
}

#rightpart button:hover {
  /* background-color: rgb(68, 65, 31); */
  /* background-color: #f7e6ca; */
  background-color: #7B6B63;
}

/* -----------------------.page4--------------------- */
.page4 {
  width: 100%;
  min-height: 110vh;
  padding-top: 5vw;
  /* background-color: #F7F7EE; */
  background-color: aliceblue;
}

.page4 .cards {
  width: 90%;
  height: 20vh;
  margin-left: 5vw;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* border: 1px solid #434b3480; */
  border: 1px solid #e5e5e5;
}

.page4 .cards:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.page4 .cards:nth-last-child(1) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.page4 .cards .cards-left-img {
  width: 0%;
  height: 100%;
  /* display: none; */
  -webkit-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  /* background-color: aqua; */
}

.page4 .cards .cards-left-img>img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.page4 .cards .information-feature {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page4 .cards .information-feature .cards-text-feature {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5vw;
  padding-left: 3vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page4 .cards .information-feature .cards-text-feature h2 {
  font-family: "cinzel";
  /* color: #434B34; */
  color: rgb(18, 18, 18);
  font-size: 2vw;
}

.page4 .cards .information-feature .cards-text-feature p {
  font-family: "libre";
  font-size: 0.8vw;
  /* color: #434B34; */
  color: rgb(18, 18, 18);
}

.page4 .cards .information-feature .cards-number {
  margin-right: 3vw;
  margin-top: 4vw;
  /* background-color: #434B34; */
  background-color: rgb(18, 18, 18);
  color: aliceblue;
  padding: 0.2vw 1.3vw;
  font-family: "gilroy";
  font-weight: 800;
  border-radius: 20px;
  border: none;
  font-size: 0.8vw;
}

.page4 .cards .information-feature .cards-number i {
  display: none;
  /* color: #434B34; */
  color: aliceblue;

}

.page4 .cards:hover .cards-left-img {
  width: 35%;

}

.page4 .cards:hover {
  /* background-color: #434B34; */
  /* background-color: rgb(195, 221, 245); */
  background-color: rgb(18, 18, 18);
}

.page4 .cards:hover .information-feature .cards-text-feature h2 {
  /* color: #E3E3C4; */
  color: aliceblue;
}

.page4 .cards:hover .information-feature .cards-text-feature p {
  /* color: #ffffff; */
  color: aliceblue;
}

.page4 .cards:hover .cards-number {
  background-color: aliceblue;
}

.page4 .cards:hover .information-feature .cards-text-feature {
  width: 34%;
}

.page4 .cards:hover .information-feature .cards-number h4 {
  display: none;
}

.page4 .cards:hover .information-feature .cards-number i {
  display: initial;
}

/* ----------------------p5-swiper-code--------------------------- */
.page5 {
  width: 100%;
  min-height: 100vh;
  /* background-color: #a0a009; */
  /* position: relative; */
}

#swipper-div {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#swipper-div img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}






@media (max-width:640px) {







  /* ---------------------------p4----------------------------------- */

  .page4 {
    width: 100%;
    min-height: 110vh;
    padding-top: 5vw;
    background-color: #F7F7EE;
}

.page4 .cards {
    width: 90%;
    height: 20vh;
    margin-left: 5vw;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #434b3480;
}

.page4 .cards:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.page4 .cards:nth-last-child(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.page4 .cards .cards-left-img {
    width: 0%;
    height: 100%;
    -webkit-transition: ease-out 0.2s;
    -o-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

.page4 .cards .cards-left-img>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.page4 .cards .information-feature {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page4 .cards .information-feature .cards-text-feature {
    width: 55%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5vw;
    padding-left: 3vw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page4 .cards .information-feature .cards-text-feature h2 {
    font-family: "pp woodland";
    color: #434B34;
    font-size: 5.4vw;
}

.page4 .cards .information-feature .cards-text-feature p {
    font-family: "gilroy";
    font-size: 2.9vw;
    color: #434B34;
}

.page4 .cards .information-feature .cards-number {
    margin-right: 3vw;
    margin-top: 4vw;
    background-color: #434B34;
    color: white;
    padding: 0.6vw 1.8vw;
    font-family: "gilroy";
    font-weight: 800;
    border-radius: 20px;
    border: none;
    font-size: 1.5vw;
}

.page4 .cards .information-feature .cards-number i {
    display: none;
    color: #434B34;
    font-size: 1.5vw;
}

.page4 .cards:hover .cards-left-img {
    width: 35%;

}

.page4 .cards:hover {
    background-color: #434B34;
}

.page4 .cards:hover .information-feature .cards-text-feature h2 {
    color: #E3E3C4;
}

.page4 .cards:hover .information-feature .cards-text-feature p {
    color: #ffffff;
}

.page4 .cards:hover .cards-number {
    background-color: white;
}

.page4 .cards:hover .information-feature .cards-text-feature {
    width: 75%;
}

.page4 .cards:hover .information-feature .cards-number h4 {
    display: none;
}

.page4 .cards:hover .information-feature .cards-number i {
    display: initial;
    font-size: 1.4vw;
}
}